openapi: 3.0.0
info:
  version: 0.0.1
  title: Tilta API
  description: Tilta API documentation
servers:
  - url: https://api.tilta-sandbox.io
    description: Tilta Sandbox API
components:
  schemas:
    badRequestSchema:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: BAD_REQUEST
        message:
          type: string
          description: Error message for debugging purposes
          example: Request validation failed. 1 issue found.
        issues:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Issue code
                example: INVALID_TYPE
              path:
                type: string
                description: Issue path starting with body, params, querystring, or headers
                example: body.registered_at
              message:
                type: string
                description: Issue message for debugging purposes
                example: Invalid type
            required:
              - code
              - path
              - message
          description: List of issues
          example:
            - code: INVALID_TYPE
              path: body.registered_at
              message: Invalid type
      required:
        - code
        - message
        - issues
      description: Bad Request, see error message for details.
      example:
        code: BAD_REQUEST
        message: Request validation failed. 1 issue found.
        issues:
          - code: INVALID_TYPE
            path: body.registered_at
            message: Invalid type
    csvExportResponseSchema:
      type: string
      format: binary
      description: CSV payload streamed as the response body.
    unauthorizedRequestSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Unauthorized
        code:
          type: string
          description: Error code.
          example: UNAUTHORIZED
      required:
        - error
        - code
      description: Unauthorized Request.
      example:
        error: Unauthorized
        code: UNAUTHORIZED
    buyerNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Buyer not found
      example:
        error: No Entity found
        code: NOT_FOUND
    facilityNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Facility not found
      example:
        error: No Entity found
        code: NOT_FOUND
    orderNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Order not found
      example:
        error: No Entity found
        code: NOT_FOUND
    erp_invoiceNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: ERP Invoice not found
      example:
        error: No Entity found
        code: NOT_FOUND
    createFacilityFailedDependencySchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Facility could not be created
        code:
          type: string
          description: Error code.
          example: RISK_DECISION_ERROR
      required:
        - error
        - code
      description: Could not create facility due to buyer risk
      example:
        error: Facility could not be created
        code: RISK_DECISION_ERROR
    createFacilityConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Buyer already has an active Facility
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Buyer already has an active Facility
      example:
        error: Buyer already has an active Facility
        code: CONFLICT
    getBuyerActiveFacilityNotFoundSchemaNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Buyer doesn't have an active facility
      example:
        error: No Entity found
        code: NOT_FOUND
    requestFacilityIncreaseConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Buyer already has a pending facility increase request
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Buyer already has a pending facility increase request
      example:
        error: Buyer already has a pending facility increase request
        code: CONFLICT
    invoiceServiceNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: No InvoiceService found.
      example:
        error: No Entity found
        code: NOT_FOUND
    invoiceNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: No Invoice found.
      example:
        error: No Entity found
        code: NOT_FOUND
    markInvoicePaidConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Invoice is already marked as paid.
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Invoice is already marked as paid.
      example:
        error: Invoice is already marked as paid.
        code: CONFLICT
    refundInvoiceConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Invoice is already marked as refunded.
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Invoice is already marked as refunded.
      example:
        error: Invoice is already marked as refunded.
        code: CONFLICT
    merchantNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Merchant not found
      example:
        error: No Entity found
        code: NOT_FOUND
    orderCustomDataAttributeConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Attribute with the same name already exists
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Attribute with the same name already exists
      example:
        error: Attribute with the same name already exists
        code: CONFLICT
    payoutInstructionNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Payout Instruction not found
      example:
        error: No Entity found
        code: NOT_FOUND
    personNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Person not found
      example:
        error: No Entity found
        code: NOT_FOUND
    platformNotFoundSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: No Entity found
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
      required:
        - error
        - code
      description: Platform not found
      example:
        error: No Entity found
        code: NOT_FOUND
    webhookConflictSchema:
      type: object
      properties:
        error:
          type: string
          description: Error details.
          example: Webhook with the same type already exists
        code:
          type: string
          description: Error code.
          example: CONFLICT
      required:
        - error
        - code
      description: Webhook with the same type already exists
      example:
        error: Webhook with the same type already exists
        code: CONFLICT
    externalIdSchema:
      type: string
      maxLength: 100
      pattern: ^[a-zA-Z0-9-_]+$
      description: Unique identifier of an Entity.
      example: 5f6374a46a5e8e0104aa5cd4
    limit:
      type: integer
      description: The number of records to be taken.
      example: 100
      default: 100
    offset:
      type: integer
      description: The number of records to be skipped.
      example: 0
      default: 0
  parameters:
    externalIdSchema:
      schema:
        $ref: "#/components/schemas/externalIdSchema"
      required: true
      name: external_id
      in: path
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /v1/businesses/search:
    get:
      description: Search for businesses using either business identifiers or name and
        address.
      summary: Search Businesses
      tags:
        - Businesses
      security: &a1
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            description: The number of records to be returned.
            example: 10
            default: 10
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - identifier
              - name_address
            description: Type of search to perform
          required: true
          name: search_type
          in: query
        - schema:
            type: string
            minLength: 2
            maxLength: 2
            description: Two-letter country code
            example: DE
          required: true
          name: country
          in: query
        - schema:
            type: string
            enum:
              - VAT_ID
              - REGISTER_ID
            description: Type of business identifier (required for identifier search)
          required: false
          name: identifier_type
          in: query
        - schema:
            type: string
            description: Value of business identifier (required for identifier search)
          required: false
          name: identifier_value
          in: query
        - schema:
            type: string
            description: Business name (required for name_address search)
          required: false
          name: name
          in: query
        - schema:
            type: string
            description: Street address (optional for name_address search)
          required: false
          name: street
          in: query
        - schema:
            type: string
            description: City (optional for name_address search)
          required: false
          name: city
          in: query
        - schema:
            type: string
            description: Postal code (optional for name_address search)
          required: false
          name: postcode
          in: query
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        legal_name:
                          type: string
                        trading_name:
                          type: string
                          nullable: true
                        legal_form:
                          type: string
                        business_address:
                          type: object
                          properties:
                            street:
                              type: string
                              nullable: true
                            house:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                            postcode:
                              type: string
                              nullable: true
                            country:
                              type: string
                              minLength: 2
                              maxLength: 2
                          required:
                            - street
                            - house
                            - city
                            - postcode
                            - country
                        business_identifiers:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - VAT_ID
                                  - TAX_ID
                                  - REGISTER_ID
                                  - CREFO_ID
                                  - ALLIANZ_TRADE_ID
                                  - SCHUFA_ID
                                  - CREDITSAFE_ID
                              value:
                                type: string
                              country:
                                type: string
                                minLength: 2
                                maxLength: 2
                            required:
                              - type
                              - value
                              - country
                        incorporated_at:
                          type: number
                          nullable: true
                        website:
                          type: string
                          nullable: true
                      required:
                        - id
                        - legal_name
                        - trading_name
                        - legal_form
                        - business_address
                        - business_identifiers
                        - incorporated_at
                        - website
                  limit:
                    type: number
                  total:
                    type: number
                required:
                  - items
                  - limit
                  - total
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/badRequestSchema"
        "401":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unauthorizedRequestSchema"
  /v1/buyers:
    post:
      description: >-
        Create a Buyer.

        A Buyer is usually created when they are initially onboarded on your
        Platform or in the context of a Transaction, when they are onboarded for
        payment with Tilta. Otherwise, existing Buyers on your Platform might
        also be created in bulk.

        Be aware that a newly created Buyer does not have a Facility by default.
        Creating a Facility is a required second step to process transactions
        with Tilta.

        Irrespective of the chosen implementation approach and the amount of
        data on your Platform, the creation of a Buyer always remains a required
        first step. While the majority of the parameters are optional to create
        a Buyer, many will still be needed to create and approve a Facility. We
        recommend to submit any already collected information when creating the
        Buyer. Tilta's hosted Buyer Onboarding for example will not ask the user
        for any pre-filled information.
      summary: Create a Buyer
      tags:
        - Buyers
      security: *a1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  maxLength: 100
                  pattern: ^[a-zA-Z0-9-_]+$
                  description: Unique identifier of a Buyer.
                trading_name:
                  type: string
                  nullable: true
                  description: Buyer's trading name. If it's not provided, Tilta will use the
                    legal_name.
                  example: ACME
                legal_name:
                  type: string
                  description: Buyer's full legal name incl. the legal form if applicable.
                  example: ACME GmbH
                legal_form:
                  type: string
                  enum:
                    - LIMITED_COMPANY
                    - SOLE_TRADER
                    - PARTNERSHIP
                    - PUBLIC_COMPANY
                    - COOPERATIVE
                    - GOVERNMENT
                    - OTHER
                  description: Buyer's legal form which depends on the Buyer's registered country.
                    [Available legal
                    forms](https://docs.tilta.io/docs/legal-forms) cover Tilta's
                    operating countries.
                registered_at:
                  type: number
                  nullable: true
                  description: Buyer' registration date (unix time in seconds), when they signed
                    up on your Platform.
                  example: 1582896122
                incorporated_at:
                  type: number
                  nullable: true
                  description: Buyer's date of incorporation (unix time in seconds), meaning the
                    date when the business of registered or started.
                  example: 1582896122
                business_identifiers:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - VAT_ID
                          - TAX_ID
                          - REGISTER_ID
                          - CREFO_ID
                          - ALLIANZ_TRADE_ID
                          - SCHUFA_ID
                          - CREDITSAFE_ID
                        description: The type of business identifier
                      value:
                        type: string
                        maxLength: 48
                        description: The value of the business identifier
                      country:
                        type: string
                        enum:
                          - AF
                          - AL
                          - DZ
                          - AS
                          - AD
                          - AO
                          - AI
                          - AQ
                          - AG
                          - AR
                          - AM
                          - AW
                          - AU
                          - AT
                          - AZ
                          - BS
                          - BH
                          - BD
                          - BB
                          - BY
                          - BE
                          - BZ
                          - BJ
                          - BM
                          - BT
                          - BO
                          - BQ
                          - BA
                          - BW
                          - BV
                          - BR
                          - IO
                          - BN
                          - BG
                          - BF
                          - BI
                          - CV
                          - KH
                          - CM
                          - CA
                          - KY
                          - CF
                          - TD
                          - CL
                          - CN
                          - CX
                          - CC
                          - CO
                          - KM
                          - CD
                          - CG
                          - CK
                          - CR
                          - HR
                          - CU
                          - CW
                          - CY
                          - CZ
                          - CI
                          - DK
                          - DJ
                          - DM
                          - DO
                          - EC
                          - EG
                          - SV
                          - GQ
                          - ER
                          - EE
                          - SZ
                          - ET
                          - FK
                          - FO
                          - FJ
                          - FI
                          - FR
                          - GF
                          - PF
                          - TF
                          - GA
                          - GM
                          - GE
                          - DE
                          - GH
                          - GI
                          - GR
                          - GL
                          - GD
                          - GP
                          - GU
                          - GT
                          - GG
                          - GN
                          - GW
                          - GY
                          - HT
                          - HM
                          - VA
                          - HN
                          - HK
                          - HU
                          - IS
                          - IN
                          - ID
                          - IR
                          - IQ
                          - IE
                          - IM
                          - IL
                          - IT
                          - JM
                          - JP
                          - JE
                          - JO
                          - KZ
                          - KE
                          - KI
                          - KP
                          - KR
                          - KW
                          - KG
                          - LA
                          - LV
                          - LB
                          - LS
                          - LR
                          - LY
                          - LI
                          - LT
                          - LU
                          - MO
                          - MG
                          - MW
                          - MY
                          - MV
                          - ML
                          - MT
                          - MH
                          - MQ
                          - MR
                          - MU
                          - YT
                          - MX
                          - FM
                          - MD
                          - MC
                          - MN
                          - ME
                          - MS
                          - MA
                          - MZ
                          - MM
                          - NA
                          - NR
                          - NP
                          - NL
                          - NC
                          - NZ
                          - NI
                          - NE
                          - NG
                          - NU
                          - NF
                          - MK
                          - MP
                          - NO
                          - OM
                          - PK
                          - PW
                          - PS
                          - PA
                          - PG
                          - PY
                          - PE
                          - PH
                          - PN
                          - PL
                          - PT
                          - PR
                          - QA
                          - RO
                          - RU
                          - RW
                          - RE
                          - BL
                          - SH
                          - KN
                          - LC
                          - MF
                          - PM
                          - VC
                          - WS
                          - SM
                          - ST
                          - SA
                          - SN
                          - RS
                          - SC
                          - SL
                          - SG
                          - SX
                          - SK
                          - SI
                          - SB
                          - SO
                          - ZA
                          - GS
                          - SS
                          - ES
                          - LK
                          - SD
                          - SR
                          - SJ
                          - SE
                          - CH
                          - SY
                          - TW
                          - TJ
                          - TZ
                          - TH
                          - TL
                          - TG
                          - TK
                          - TO
                          - TT
                          - TN
                          - TM
                          - TC
                          - TV
                          - TR
                          - UG
                          - UA
                          - AE
                          - GB
                          - UM
                          - US
                          - UY
                          - UZ
                          - VU
                          - VE
                          - VN
                          - VG
                          - VI
                          - WF
                          - EH
                          - YE
                          - ZM
                          - ZW
                          - AX
                        description: Two-letter country code (ISO 3166-1 alpha-2).
                    required:
                      - type
                      - value
                      - country
                    additionalProperties: false
                  description: A list of business identifiers
                business_address:
                  type: object
                  properties:
                    street:
                      type: string
                      description: Address line (e.g. street, road, place).
                      example: Example Street
                    house:
                      type: string
                      description: House number or denominator.
                      example: 42b
                    postcode:
                      type: string
                      description: ZIP or postal code.
                      example: "12345"
                    city:
                      type: string
                      description: City, district, town, or village.
                      example: Berlin
                    country:
                      type: string
                      enum:
                        - AF
                        - AL
                        - DZ
                        - AS
                        - AD
                        - AO
                        - AI
                        - AQ
                        - AG
                        - AR
                        - AM
                        - AW
                        - AU
                        - AT
                        - AZ
                        - BS
                        - BH
                        - BD
                        - BB
                        - BY
                        - BE
                        - BZ
                        - BJ
                        - BM
                        - BT
                        - BO
                        - BQ
                        - BA
                        - BW
                        - BV
                        - BR
                        - IO
                        - BN
                        - BG
                        - BF
                        - BI
                        - CV
                        - KH
                        - CM
                        - CA
                        - KY
                        - CF
                        - TD
                        - CL
                        - CN
                        - CX
                        - CC
                        - CO
                        - KM
                        - CD
                        - CG
                        - CK
                        - CR
                        - HR
                        - CU
                        - CW
                        - CY
                        - CZ
                        - CI
                        - DK
                        - DJ
                        - DM
                        - DO
                        - EC
                        - EG
                        - SV
                        - GQ
                        - ER
                        - EE
                        - SZ
                        - ET
                        - FK
                        - FO
                        - FJ
                        - FI
                        - FR
                        - GF
                        - PF
                        - TF
                        - GA
                        - GM
                        - GE
                        - DE
                        - GH
                        - GI
                        - GR
                        - GL
                        - GD
                        - GP
                        - GU
                        - GT
                        - GG
                        - GN
                        - GW
                        - GY
                        - HT
                        - HM
                        - VA
                        - HN
                        - HK
                        - HU
                        - IS
                        - IN
                        - ID
                        - IR
                        - IQ
                        - IE
                        - IM
                        - IL
                        - IT
                        - JM
                        - JP
                        - JE
                        - JO
                        - KZ
                        - KE
                        - KI
                        - KP
                        - KR
                        - KW
                        - KG
                        - LA
                        - LV
                        - LB
                        - LS
                        - LR
                        - LY
                        - LI
                        - LT
                        - LU
                        - MO
                        - MG
                        - MW
                        - MY
                        - MV
                        - ML
                        - MT
                        - MH
                        - MQ
                        - MR
                        - MU
                        - YT
                        - MX
                        - FM
                        - MD
                        - MC
                        - MN
                        - ME
                        - MS
                        - MA
                        - MZ
                        - MM
                        - NA
                        - NR
                        - NP
                        - NL
                        - NC
                        - NZ
                        - NI
                        - NE
                        - NG
                        - NU
                        - NF
                        - MK
                        - MP
                        - NO
                        - OM
                        - PK
                        - PW
                        - PS
                        - PA
                        - PG
                        - PY
                        - PE
                        - PH
                        - PN
                        - PL
                        - PT
                        - PR
                        - QA
                        - RO
                        - RU
                        - RW
                        - RE
                        - BL
                        - SH
                        - KN
                        - LC
                        - MF
                        - PM
                        - VC
                        - WS
                        - SM
                        - ST
                        - SA
                        - SN
                        - RS
                        - SC
                        - SL
                        - SG
                        - SX
                        - SK
                        - SI
                        - SB
                        - SO
                        - ZA
                        - GS
                        - SS
                        - ES
                        - LK
                        - SD
                        - SR
                        - SJ
                        - SE
                        - CH
                        - SY
                        - TW
                        - TJ
                        - TZ
                        - TH
                        - TL
                        - TG
                        - TK
                        - TO
                        - TT
                        - TN
                        - TM
                        - TC
                        - TV
                        - TR
                        - UG
                        - UA
                        - AE
                        - GB
                        - UM
                        - US
                        - UY
                        - UZ
                        - VU
                        - VE
                        - VN
                        - VG
                        - VI
                        - WF
                        - EH
                        - YE
                        - ZM
                        - ZW
                        - AX
                      description: Two-letter country code (ISO 3166-1 alpha-2).
                    additional:
                      type: string
                      nullable: true
                      description: Additional address information (e.g. PO Box, c/o name etc.).
                      example: c/o Testimonial
                  required:
                    - postcode
                    - city
                    - country
                  description: Business's primary address.
                custom_data:
                  type: object
                  nullable: true
                  properties: {}
                  description: Custom data configured for your Platform. New data custom data
                    object will override the previous custom data object.
              required:
                - external_id
                - legal_name
                - legal_form
                - business_address
              additionalProperties: false
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_id:
                    type: string
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9-_]+$
                    description: Unique identifier of a Buyer.
                  created_at:
                    type: number
                    description: Timestamp indicating when the Buyer was created (unix time in
                      seconds).
                    example: 1582896122
                  updated_at:
                    type: number
                    description: Timestamp indicating the last time the Buyer was updated (unix time
                      in seconds).
                    example: 1582896122
                  max_days_past_due:
                    type: integer
                    nullable: true
                    description: Maximum days past due among DUE Invoices.
                  trading_name:
                    type: string
                    nullable: true
                    description: Buyer's trading name. If it's not provided, Tilta will use the
                      legal_name.
                    example: ACME
                  legal_name:
                    type: string
                    description: Buyer's full legal name incl. the legal form if applicable.
                    example: ACME GmbH
                  legal_form:
                    type: string
                    enum:
                      - LIMITED_COMPANY
                      - SOLE_TRADER
                      - PARTNERSHIP
                      - PUBLIC_COMPANY
                      - COOPERATIVE
                      - GOVERNMENT
                      - OTHER
                    description: Buyer's legal form which depends on the Buyer's registered country.
                      [Available legal
                      forms](https://docs.tilta.io/docs/legal-forms) cover
                      Tilta's operating countries.
                  registered_at:
                    type: number
                    nullable: true
                    description: Buyer' registration date (unix time in seconds), when they signed
                      up on your Platform.
                    example: 1582896122
                  incorporated_at:
                    type: number
                    nullable: true
                    description: Buyer's date of incorporation (unix time in seconds), meaning the
                      date when the business of registered or started.
                    example: 1582896122
                  business_identifiers:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - VAT_ID
                            - TAX_ID
                            - REGISTER_ID
                            - CREFO_ID
                            - ALLIANZ_TRADE_ID
                            - SCHUFA_ID
                            - CREDITSAFE_ID
                          description: The type of business identifier
                        value:
                          type: string
                          maxLength: 48
                          description: The value of the business identifier
                        country:
                          type: string
                          enum:
                            - AF
                            - AL
                            - DZ
                            - AS
                            - AD
                            - AO
                            - AI
                            - AQ
                            - AG
                            - AR
                            - AM
                            - AW
                            - AU
                            - AT
                            - AZ
                            - BS
                            - BH
                            - BD
                            - BB
                            - BY
                            - BE
                            - BZ
                            - BJ
                            - BM
                            - BT
                            - BO
                            - BQ
                            - BA
                            - BW
                            - BV
                            - BR
                            - IO
                            - BN
                            - BG
                            - BF
                            - BI
                            - CV
                            - KH
                            - CM
                            - CA
                            - KY
                            - CF
                            - TD
                            - CL
                            - CN
                            - CX
                            - CC
                            - CO
                            - KM
                            - CD
                            - CG
                            - CK
                            - CR
                            - HR
                            - CU
                            - CW
                            - CY
                            - CZ
                            - CI
                            - DK
                            - DJ
                            - DM
                            - DO
                            - EC
                            - EG
                            - SV
                            - GQ
                            - ER
                            - EE
                            - SZ
                            - ET
                            - FK
                            - FO
                            - FJ
                            - FI
                            - FR
                            - GF
                            - PF
                            - TF
                            - GA
                            - GM
                            - GE
                            - DE
                            - GH
                            - GI
                            - GR
                            - GL
                            - GD
                            - GP
                            - GU
                            - GT
                            - GG
                            - GN
                            - GW
                            - GY
                            - HT
                            - HM
                            - VA
                            - HN
                            - HK
                            - HU
                            - IS
                            - IN
                            - ID
                            - IR
                            - IQ
                            - IE
                            - IM
                            - IL
                            - IT
                            - JM
                            - JP
                            - JE
                            - JO
                            - KZ
                            - KE
                            - KI
                            - KP
                            - KR
                            - KW
                            - KG
                            - LA
                            - LV
                            - LB
                            - LS
                            - LR
                            - LY
                            - LI
                            - LT
                            - LU
                            - MO
                            - MG
                            - MW
                            - MY
                            - MV
                            - ML
                            - MT
                            - MH
                            - MQ
                            - MR
                            - MU
                            - YT
                            - MX
                            - FM
                            - MD
                            - MC
                            - MN
                            - ME
                            - MS
                            - MA
                            - MZ
                            - MM
                            - NA
                            - NR
                            - NP
                            - NL
                            - NC
                            - NZ
                            - NI
                            - NE
                            - NG
                            - NU
                            - NF
                            - MK
                            - MP
                            - NO
                            - OM
                            - PK
                            - PW
                            - PS
                            - PA
                            - PG
                            - PY
                            - PE
                            - PH
                            - PN
                            - PL
                            - PT
                            - PR
                            - QA
                            - RO
                            - RU
                            - RW
                            - RE
                            - BL
                            - SH
                            - KN
                            - LC
                            - MF
                            - PM
                            - VC
                            - WS
                            - SM
                            - ST
                            - SA
                            - SN
                            - RS
                            - SC
                            - SL
                            - SG
                            - SX
                            - SK
                            - SI
                            - SB
                            - SO
                            - ZA
                            - GS
                            - SS
                            - ES
                            - LK
                            - SD
                            - SR
                            - SJ
                            - SE
                            - CH
                            - SY
                            - TW
                            - TJ
                            - TZ
                            - TH
                            - TL
                            - TG
                            - TK
                            - TO
                            - TT
                            - TN
                            - TM
                            - TC
                            - TV
                            - TR
                            - UG
                            - UA
                            - AE
                            - GB
                            - UM
                            - US
                            - UY
                            - UZ
                            - VU
                            - VE
                            - VN
                            - VG
                            - VI
                            - WF
                            - EH
                            - YE
                            - ZM
                            - ZW
                            - AX
                          description: Two-letter country code (ISO 3166-1 alpha-2).
                      required:
                        - type
                        - value
                        - country
                      additionalProperties: false
                    description: A list of business identifiers
                  business_address:
                    type: object
                    properties:
                      street:
                        type: string
                        description: Address line (e.g. street, road, place).
                        example: Example Street
                      house:
                        type: string
                        description: House number or denominator.
                        example: 42b
                      postcode:
                        type: string
                        description: ZIP or postal code.
                        example: "12345"
                      city:
                        type: string
                        description: City, district, town, or village.
                        example: Berlin
                      country:
                        type: string
                        enum:
                          - AF
                          - AL
                          - DZ
                          - AS
                          - AD
                          - AO
                          - AI
                          - AQ
                          - AG
                          - AR
                          - AM
                          - AW
                          - AU
                          - AT
                          - AZ
                          - BS
                          - BH
                          - BD
                          - BB
                          - BY
                          - BE
                          - BZ
                          - BJ
                          - BM
                          - BT
                          - BO
                          - BQ
                          - BA
                          - BW
                          - BV
                          - BR
                          - IO
                          - BN
                          - BG
                          - BF
                          - BI
                          - CV
                          - KH
                          - CM
                          - CA
                          - KY
                          - CF
                          - TD
                          - CL
                          - CN
                          - CX
                          - CC
                          - CO
                          - KM
                          - CD
                          - CG
                          - CK
                          - CR
                          - HR
                          - CU
                          - CW
                          - CY
                          - CZ
                          - CI
                          - DK
                          - DJ
                          - DM
                          - DO
                          - EC
                          - EG
                          - SV
                          - GQ
                          - ER
                          - EE
                          - SZ
                          - ET
                          - FK
                          - FO
                          - FJ
                          - FI
                          - FR
                          - GF
                          - PF
                          - TF
                          - GA
                          - GM
                          - GE
                          - DE
                          - GH
                          - GI
                          - GR
                          - GL
                          - GD
                          - GP
                          - GU
                          - GT
                          - GG
                          - GN
                          - GW
                          - GY
                          - HT
                          - HM
                          - VA
                          - HN
                          - HK
                          - HU
                          - IS
                          - IN
                          - ID
                          - IR
                          - IQ
                          - IE
                          - IM
                          - IL
                          - IT
                          - JM
                          - JP
                          - JE
                          - JO
                          - KZ
                          - KE
                          - KI
                          - KP
                          - KR
                          - KW
                          - KG
                          - LA
                          - LV
                          - LB
                          - LS
                          - LR
                          - LY
                          - LI
                          - LT
                          - LU
                          - MO
                          - MG
                          - MW
                          - MY
                          - MV
                          - ML
                          - MT
                          - MH
                          - MQ
                          - MR
                          - MU
                          - YT
                          - MX
                          - FM
                          - MD
                          - MC
                          - MN
                          - ME
                          - MS
                          - MA
                          - MZ
                          - MM
                          - NA
                          - NR
                          - NP
                          - NL
                          - NC
                          - NZ
                          - NI
                          - NE
                          - NG
                          - NU
                          - NF
                          - MK
                          - MP
                          - NO
                          - OM
                          - PK
                          - PW
                          - PS
                          - PA
                          - PG
                          - PY
                          - PE
                          - PH
                          - PN
                          - PL
                          - PT
                          - PR
                          - QA
                          - RO
                          - RU
                          - RW
                          - RE
                          - BL
                          - SH
                          - KN
                          - LC
                          - MF
                          - PM
                          - VC
                          - WS
                          - SM
                          - ST
                          - SA
                          - SN
                          - RS
                          - SC
                          - SL
                          - SG
                          - SX
                          - SK
                          - SI
                          - SB
                          - SO
                          - ZA
                          - GS
                          - SS
                          - ES
                          - LK
                          - SD
                          - SR
                          - SJ
                          - SE
                          - CH
                          - SY
                          - TW
                          - TJ
                          - TZ
                          - TH
                          - TL
                          - TG
                          - TK
                          - TO
                          - TT
                          - TN
                          - TM
                          - TC
                          - TV
                          - TR
                          - UG
                          - UA
                          - AE
                          - GB
                          - UM
                          - US
                          - UY
                          - UZ
                          - VU
                          - VE
                          - VN
                          - VG
                          - VI
                          - WF
                          - EH
                          - YE
                          - ZM
                          - ZW
                          - AX
                        description: Two-letter country code (ISO 3166-1 alpha-2).
                      additional:
                        type: string
                        nullable: true
                        description: Additional address information (e.g. PO Box, c/o name etc.).
                        example: c/o Testimonial
                    required:
                      - postcode
                      - city
                      - country
                    description: Business's primary address.
                  custom_data:
                    type: object
                    nullable: true
                    properties: {}
                    description: Custom data configured for your Platform. New data custom data
                      object will override the previous custom data object.
                required:
                  - external_id
                  - created_at
                  - updated_at
                  - max_days_past_due
                  - legal_name
                  - legal_form
                  - business_address
                additionalProperties: false
                description: A Buyer has been successfully created or updated.
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/badRequestSchema"
        "401":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unauthorizedRequestSchema"
    get:
      description: Returns a list of Buyers.
      summary: List Buyers
      tags:
        - Buyers
      security: *a1
      parameters:
        - schema:
            $ref: "#/components/schemas/limit"
          required: false
          description: The number of records to be taken.
          name: limit
          in: query
        - schema:
            $ref: "#/components/schemas/offset"
          required: false
          description: The number of records to be skipped.
          name: offset
          in: query
        - schema:
            type: string
            description: Buyer's IDs to filter in Buyers.
            example: buyer_123,buyer_456
          required: false
          description: Buyer's IDs to filter in Buyers.
          name: external_id
          in: query
        - schema:
            type: string
            description: Buyer's legal name to filter in Buyers.
          required: false
          description: Buyer's legal name to filter in Buyers.
          name: legal_name
          in: query
        - schema:
            type: string
            description: Buyer's trading name to filter in Buyers.
          required: false
          description: Buyer's trading name to filter in Buyers.
          name: trading_name
          in: query
        - schema:
            type: string
            description: Buyer's legal forms to filter in Buyers.
            example: LIMITED_COMPANY,PUBLIC_COMPANY
          required: false
          description: Buyer's legal forms to filter in Buyers.
          name: legal_form
          in: query
        - schema:
            type: string
            description: 'Created at range filter (unix timestamps in seconds). Format:
              "gte..lte" where each bound is optional (e.g.
              "1580515200..1583020800").'
            example: 1580515200..1583020800
          required: false
          description: 'Created at range filter (unix timestamps in seconds). Format:
            "gte..lte" where each bound is optional (e.g.
            "1580515200..1583020800").'
          name: created_at
          in: query
        - schema:
            type: string
            description: Buyer's business address countries to filter in Buyers.
            example: DE,AT
          required: false
          description: Buyer's business address countries to filter in Buyers.
          name: business_address_country
          in: query
        - schema:
            type: string
            description: Buyer's business address city to filter in Buyers.
          required: false
          description: Buyer's business address city to filter in Buyers.
          name: business_address_city
          in: query
        - schema:
            type: string
            description: Buyer's business address street to filter in Buyers.
          required: false
          description: Buyer's business address street to filter in Buyers.
          name: business_address_street
          in: query
        - schema:
            type: string
            description: Buyer's business address postcode to filter in Buyers.
          required: false
          description: Buyer's business address postcode to filter in Buyers.
          name: business_address_postcode
          in: query
        - schema:
            type: string
            description: Buyer's VAT IDs to filter in Buyers.
          required: false
          description: Buyer's VAT IDs to filter in Buyers.
          name: vat_id
          in: query
        - schema:
            type: string
            description: Maximum days past due range to filter Buyers by, in the format
              gte..lte.
            example: 15..30
          required: false
          description: Maximum days past due range to filter Buyers by, in the format
            gte..lte.
          name: max_days_past_due
          in: query
        - schema:
            type: string
            description: "Sort Buyers by provided field in ascending or descending order.
              Prefix field with - for descending order. Example:
              sort_by=-created_at"
          required: false
          description: "Sort Buyers by provided field in ascending or descending order.
            Prefix field with - for descending order. Example:
            sort_by=-created_at"
          name: sort_by
          in: query
        - schema:
            type: array
            nullable: true
            items:
              type: string
              enum: &a2
                - contacts
            description: "Buyer sub-entities to expand in the response object. Currently
              supported: contacts (buyer contacts)."
            example: &a3
              - contacts
          required: false
          description: "Buyer sub-entities to expand in the response object. Currently
            supported: contacts (buyer contacts)."
          name: expand
          in: query
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    minimum: 0
                    description: The number of taken records.
                    example: 100
                  offset:
                    type: integer
                    minimum: 0
                    description: The number of skipped records.
                    example: 0
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of records
                    example: 140
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        external_id:
                          type: string
                          maxLength: 100
                          pattern: ^[a-zA-Z0-9-_]+$
                          description: Unique identifier of a Buyer.
                        created_at:
                          type: number
                          description: Timestamp indicating when the Buyer was created (unix time in
                            seconds).
                          example: 1582896122
                        updated_at:
                          type: number
                          description: Timestamp indicating the last time the Buyer was updated (unix time
                            in seconds).
                          example: 1582896122
                        max_days_past_due:
                          type: integer
                          nullable: true
                          description: Maximum days past due among DUE Invoices.
                        trading_name:
                          type: string
                          nullable: true
                          description: Buyer's trading name. If it's not provided, Tilta will use the
                            legal_name.
                          example: ACME
                        legal_name:
                          type: string
                          description: Buyer's full legal name incl. the legal form if applicable.
                          example: ACME GmbH
                        legal_form:
                          type: string
                          enum:
                            - LIMITED_COMPANY
                            - SOLE_TRADER
                            - PARTNERSHIP
                            - PUBLIC_COMPANY
                            - COOPERATIVE
                            - GOVERNMENT
                            - OTHER
                          description: Buyer's legal form which depends on the Buyer's registered country.
                            [Available legal
                            forms](https://docs.tilta.io/docs/legal-forms) cover
                            Tilta's operating countries.
                        registered_at:
                          type: number
                          nullable: true
                          description: Buyer' registration date (unix time in seconds), when they signed
                            up on your Platform.
                          example: 1582896122
                        incorporated_at:
                          type: number
                          nullable: true
                          description: Buyer's date of incorporation (unix time in seconds), meaning the
                            date when the business of registered or started.
                          example: 1582896122
                        business_identifiers:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - VAT_ID
                                  - TAX_ID
                                  - REGISTER_ID
                                  - CREFO_ID
                                  - ALLIANZ_TRADE_ID
                                  - SCHUFA_ID
                                  - CREDITSAFE_ID
                                description: The type of business identifier
                              value:
                                type: string
                                maxLength: 48
                                description: The value of the business identifier
                              country:
                                type: string
                                enum:
                                  - AF
                                  - AL
                                  - DZ
                                  - AS
                                  - AD
                                  - AO
                                  - AI
                                  - AQ
                                  - AG
                                  - AR
                                  - AM
                                  - AW
                                  - AU
                                  - AT
                                  - AZ
                                  - BS
                                  - BH
                                  - BD
                                  - BB
                                  - BY
                                  - BE
                                  - BZ
                                  - BJ
                                  - BM
                                  - BT
                                  - BO
                                  - BQ
                                  - BA
                                  - BW
                                  - BV
                                  - BR
                                  - IO
                                  - BN
                                  - BG
                                  - BF
                                  - BI
                                  - CV
                                  - KH
                                  - CM
                                  - CA
                                  - KY
                                  - CF
                                  - TD
                                  - CL
                                  - CN
                                  - CX
                                  - CC
                                  - CO
                                  - KM
                                  - CD
                                  - CG
                                  - CK
                                  - CR
                                  - HR
                                  - CU
                                  - CW
                                  - CY
                                  - CZ
                                  - CI
                                  - DK
                                  - DJ
                                  - DM
                                  - DO
                                  - EC
                                  - EG
                                  - SV
                                  - GQ
                                  - ER
                                  - EE
                                  - SZ
                                  - ET
                                  - FK
                                  - FO
                                  - FJ
                                  - FI
                                  - FR
                                  - GF
                                  - PF
                                  - TF
                                  - GA
                                  - GM
                                  - GE
                                  - DE
                                  - GH
                                  - GI
                                  - GR
                                  - GL
                                  - GD
                                  - GP
                                  - GU
                                  - GT
                                  - GG
                                  - GN
                                  - GW
                                  - GY
                                  - HT
                                  - HM
                                  - VA
                                  - HN
                                  - HK
                                  - HU
                                  - IS
                                  - IN
                                  - ID
                                  - IR
                                  - IQ
                                  - IE
                                  - IM
                                  - IL
                                  - IT
                                  - JM
                                  - JP
                                  - JE
                                  - JO
                                  - KZ
                                  - KE
                                  - KI
                                  - KP
                                  - KR
                                  - KW
                                  - KG
                                  - LA
                                  - LV
                                  - LB
                                  - LS
                                  - LR
                                  - LY
                                  - LI
                                  - LT
                                  - LU
                                  - MO
                                  - MG
                                  - MW
                                  - MY
                                  - MV
                                  - ML
                                  - MT
                                  - MH
                                  - MQ
                                  - MR
                                  - MU
                                  - YT
                                  - MX
                                  - FM
                                  - MD
                                  - MC
                                  - MN
                                  - ME
                                  - MS
                                  - MA
                                  - MZ
                                  - MM
                                  - NA
                                  - NR
                                  - NP
                                  - NL
                                  - NC
                                  - NZ
                                  - NI
                                  - NE
                                  - NG
                                  - NU
                                  - NF
                                  - MK
                                  - MP
                                  - NO
                                  - OM
                                  - PK
                                  - PW
                                  - PS
                                  - PA
                                  - PG
                                  - PY
                                  - PE
                                  - PH
                                  - PN
                                  - PL
                                  - PT
                                  - PR
                                  - QA
                                  - RO
                                  - RU
                                  - RW
                                  - RE
                                  - BL
                                  - SH
                                  - KN
                                  - LC
                                  - MF
                                  - PM
                                  - VC
                                  - WS
                                  - SM
                                  - ST
                                  - SA
                                  - SN
                                  - RS
                                  - SC
                                  - SL
                                  - SG
                                  - SX
                                  - SK
                                  - SI
                                  - SB
                                  - SO
                                  - ZA
                                  - GS
                                  - SS
                                  - ES
                                  - LK
                                  - SD
                                  - SR
                                  - SJ
                                  - SE
                                  - CH
                                  - SY
                                  - TW
                                  - TJ
                                  - TZ
                                  - TH
                                  - TL
                                  - TG
                                  - TK
                                  - TO
                                  - TT
                                  - TN
                                  - TM
                                  - TC
                                  - TV
                                  - TR
                                  - UG
                                  - UA
                                  - AE
                                  - GB
                                  - UM
                                  - US
                                  - UY
                                  - UZ
                                  - VU
                                  - VE
                                  - VN
                                  - VG
                                  - VI
                                  - WF
                                  - EH
                                  - YE
                                  - ZM
                                  - ZW
                                  - AX
                                description: Two-letter country code (ISO 3166-1 alpha-2).
                            required:
                              - type
                              - value
                              - country
                            additionalProperties: false
                          description: A list of business identifiers
                        business_address:
                          type: object
                          properties:
                            street:
                              type: string
                              description: Address line (e.g. street, road, place).
                              example: Example Street
                            house:
                              type: string
                              description: House number or denominator.
                              example: 42b
                            postcode:
                              type: string
                              description: ZIP or postal code.
                              example: "12345"
                            city:
                              type: string
                              description: City, district, town, or village.
                              example: Berlin
                            country:
                              type: string
                              enum:
                                - AF
                                - AL
                                - DZ
                                - AS
                                - AD
                                - AO
                                - AI
                                - AQ
                                - AG
                                - AR
                                - AM
                                - AW
                                - AU
                                - AT
                                - AZ
                                - BS
                                - BH
                                - BD
                                - BB
                                - BY
                                - BE
                                - BZ
                                - BJ
                                - BM
                                - BT
                                - BO
                                - BQ
                                - BA
                                - BW
                                - BV
                                - BR
                                - IO
                                - BN
                                - BG
                                - BF
                                - BI
                                - CV
                                - KH
                                - CM
                                - CA
                                - KY
                                - CF
                                - TD
                                - CL
                                - CN
                                - CX
                                - CC
                                - CO
                                - KM
                                - CD
                                - CG
                                - CK
                                - CR
                                - HR
                                - CU
                                - CW
                                - CY
                                - CZ
                                - CI
                                - DK
                                - DJ
                                - DM
                                - DO
                                - EC
                                - EG
                                - SV
                                - GQ
                                - ER
                                - EE
                                - SZ
                                - ET
                                - FK
                                - FO
                                - FJ
                                - FI
                                - FR
                                - GF
                                - PF
                                - TF
                                - GA
                                - GM
                                - GE
                                - DE
                                - GH
                                - GI
                                - GR
                                - GL
                                - GD
                                - GP
                                - GU
                                - GT
                                - GG
                                - GN
                                - GW
                                - GY
                                - HT
                                - HM
                                - VA
                                - HN
                                - HK
                                - HU
                                - IS
                                - IN
                                - ID
                                - IR
                                - IQ
                                - IE
                                - IM
                                - IL
                                - IT
                                - JM
                                - JP
                                - JE
                                - JO
                                - KZ
                                - KE
                                - KI
                                - KP
                                - KR
                                - KW
                                - KG
                                - LA
                                - LV
                                - LB
                                - LS
                                - LR
                                - LY
                                - LI
                                - LT
                                - LU
                                - MO
                                - MG
                                - MW
                                - MY
                                - MV
                                - ML
                                - MT
                                - MH
                                - MQ
                                - MR
                                - MU
                                - YT
                                - MX
                                - FM
                                - MD
                                - MC
                                - MN
                                - ME
                                - MS
                                - MA
                                - MZ
                                - MM
                                - NA
                                - NR
                                - NP
                                - NL
                                - NC
                                - NZ
                                - NI
                                - NE
                                - NG
                                - NU
                                - NF
                                - MK
                                - MP
                                - NO
                                - OM
                                - PK
                                - PW
                                - PS
                                - PA
                                - PG
                                - PY
                                - PE
                                - PH
                                - PN
                                - PL
                                - PT
                                - PR
                                - QA
                                - RO
                                - RU
                                - RW
                                - RE
                                - BL
                                - SH
                                - KN
                                - LC
                                - MF
                                - PM
                                - VC
                                - WS
                                - SM
                                - ST
                                - SA
                                - SN
                                - RS
                                - SC
                                - SL
                                - SG
                                - SX
                                - SK
                                - SI
                                - SB
                                - SO
                                - ZA
                                - GS
                                - SS
                                - ES
                                - LK
                                - SD
                                - SR
                                - SJ
                                - SE
                                - CH
                                - SY
                                - TW
                                - TJ
                                - TZ
                                - TH
                                - TL
                                - TG
                                - TK
                                - TO
                                - TT
                                - TN
                                - TM
                                - TC
                                - TV
                                - TR
                                - UG
                                - UA
                                - AE
                                - GB
                                - UM
                                - US
                                - UY
                                - UZ
                                - VU
                                - VE
                                - VN
                                - VG
                                - VI
                                - WF
                                - EH
                                - YE
                                - ZM
                                - ZW
                                - AX
                              description: Two-letter country code (ISO 3166-1 alpha-2).
                            additional:
                              type: string
                              nullable: true
                              description: Additional address information (e.g. PO Box, c/o name etc.).
                              example: c/o Testimonial
                          required:
                            - postcode
                            - city
                            - country
                          description: Business's primary address.
                        custom_data:
                          type: object
                          nullable: true
                          properties: {}
                          description: Custom data configured for your Platform. New data custom data
                            object will override the previous custom data
                            object.
                        contacts:
                          type: array
                          items:
                            type: object
                            properties:
                              external_id:
                                type: string
                                maxLength: 100
                                pattern: ^[a-zA-Z0-9-_]+$
                                description: Unique identifier of a Contact.
                              buyer_external_id:
                                type: string
                                maxLength: 100
                                pattern: ^[a-zA-Z0-9-_]+$
                                description: External identifier of the Buyer this Contact belongs to.
                              salutation:
                                type: string
                                nullable: true
                                enum:
                                  - MR
                                  - MS
                                  - OTHER
                                description: Contact salutation.
                              first_name:
                                type: string
                                nullable: true
                                description: Contact first name.
                              last_name:
                                type: string
                                nullable: true
                                description: Contact last name.
                              email:
                                type: string
                                nullable: true
                                format: email
                                description: Contact email.
                              phone:
                                type: string
                                nullable: true
                                description: Contact phone number in E.164 format (e.g. +491711010101).
                                example: "+491711010101"
                              assign_to_all_invoices:
                                type: boolean
                                description: Whether this Contact should automatically be assigned to all
                                  Invoices created for the Buyer.
                              address:
                                type: object
                                nullable: true
                                properties:
                                  street:
                                    type: string
                                    description: Address line (e.g. street, road, place).
                                    example: Example Street
                                  house:
                                    type: string
                                    description: House number or denominator.
                                    example: 42b
                                  postcode:
                                    type: string
                                    description: ZIP or postal code.
                                    example: "12345"
                                  city:
                                    type: string
                                    description: City, district, town, or village.
                                    example: Berlin
                                  country:
                                    type: string
                                    enum:
                                      - AF
                                      - AL
                                      - DZ
                                      - AS
                                      - AD
                                      - AO
                                      - AI
                                      - AQ
                                      - AG
                                      - AR
                                      - AM
                                      - AW
                                      - AU
                                      - AT
                                      - AZ
                                      - BS
                                      - BH
                                      - BD
                                      - BB
                                      - BY
                                      - BE
                                      - BZ
                                      - BJ
                                      - BM
                                      - BT
                                      - BO
                                      - BQ
                                      - BA
                                      - BW
                                      - BV
                                      - BR
                                      - IO
                                      - BN
                                      - BG
                                      - BF
                                      - BI
                                      - CV
                                      - KH
                                      - CM
                                      - CA
                                      - KY
                                      - CF
                                      - TD
                                      - CL
                                      - CN
                                      - CX
                                      - CC
                                      - CO
                                      - KM
                                      - CD
                                      - CG
                                      - CK
                                      - CR
                                      - HR
                                      - CU
                                      - CW
                                      - CY
                                      - CZ
                                      - CI
                                      - DK
                                      - DJ
                                      - DM
                                      - DO
                                      - EC
                                      - EG
                                      - SV
                                      - GQ
                                      - ER
                                      - EE
                                      - SZ
                                      - ET
                                      - FK
                                      - FO
                                      - FJ
                                      - FI
                                      - FR
                                      - GF
                                      - PF
                                      - TF
                                      - GA
                                      - GM
                                      - GE
                                      - DE
                                      - GH
                                      - GI
                                      - GR
                                      - GL
                                      - GD
                                      - GP
                                      - GU
                                      - GT
                                      - GG
                                      - GN
                                      - GW
                                      - GY
                                      - HT
                                      - HM
                                      - VA
                                      - HN
                                      - HK
                                      - HU
                                      - IS
                                      - IN
                                      - ID
                                      - IR
[...]
