<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="acceptance">
            <directory>tests/Acceptance</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional/Util</directory>
            <directory>tests/Functional/Service</directory>
            <directory>tests/Functional/Model</directory>
            <directory>tests/Functional/FullTest</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--<env name="LOG_FILE" value="var/log/tilta-sdk-unit-tests.log" force="true" />-->
        <!--<env name="TILTA_API_TOKEN" value="// INSERT YOUR TILTA API TOKEN HERE \\" force="true" />-->
        <!--<env name="TILTA_MERCHANT_ID" value="// INSERT YOUR MERCHANT-ID HERE \\" force="true" />-->
        <!--<env name="TILTA_TEST_BUYER" value="// INSERT A VALID BUYER_EXTERNAL_ID WITH FACILITY HERE \\" force="true" />-->
        <env name="TILTA_SDK_API_DOMAIN" value="api.tilta-stage.io" />
    </php>

    <!--
    <coverage processUncoveredFiles="true">
        <include>
            <directory>src/</directory>
        </include>
        <exclude />
        <report>
            <html outputDirectory="../coverage_report_html"/>
            <text outputFile="../coverage_report.txt"/>
        </report>
    </coverage>
    -->
</phpunit>
